<form action="/subscribe-aws" method="post">
    <div class="text">
        <label for="email_address"><b>Email</b></label>
        <input type="text" placeholder="Introduceți adresa de e-mail" name="email_address" required><br /><br />

    </div>
    <button type="submit">Abonare</button>
    <p style="color:rgb(165, 100, 100);  font-weight: bold">
        
    </p>
</form>
<br />