<div class="container">
	<button class="b1" onClick="myFunction()"></button>
	<button class="b2" onClick="myFunction2()"></button>
	<button class="b3" onClick="myFunction3()"></button>
  </div>
  
  <div class="content">
	<div id="first"><img src="first.jpg" width="1500" height="800"> </img></div>
	<div id="second"><img src="second.jpg"width="1500" height="800"> </img></div>
	<div id="third"><img src="third.jpg" width="1500" height="800"> </img></div>
  </div>
	
	
	<!-- <img  src="/poza2.jpg"  width="1400" height="787">  -->

    	 
				<p style="color:white;position:absolute; right:650px ">KNOW MORE ABOUT US	</p>
					<h1 style="color:rgb(255, 196, 0);position:absolute; left:625px ">What <b>MOTORCYCLE</b> is.</h1>
					<br><br>
					<br><br><br><br>
					<p style="color:rgb(255, 196, 0);font-size:25px; position:absolute; left:100px;">Don't make a reputation you'll have to live down or run away from later</p><br><br>
					<p style="color:rgb(255, 196, 0);font-size:25px; position:absolute; left:100px"> Don't ride so late into the night that you sleep through the sunrise. </p><br><br> 	
					<p style="color:rgb(255, 196, 0);font-size:25px; position:absolute; left:100px">Faster, faster, faster, until the thrill of speed overcomes the fear of death.</p><br><br>
					<p style="color:rgb(255, 196, 0);font-size:25px; position:absolute; left:100px"> Four wheels move the body,</p><br><br>
					<p style="color:rgb(255, 196, 0);font-size:25px; position:absolute; left:100px">Two wheels move the soul.</p><br>
					
					
					<!--div style="float:left;margin-left:600px; top:1080px" class="square">
						<img style="float:left;margin-left:20px;margin-top:20px"src="/advantage-icon-1.png" >
						<p style="float:left;margin-left:25px;margin-top:40px;font:15px"><b>24/7 Customer Online Suport</b><p>					
					</div>
					
					
					<div style="float:left;margin-left:1000px; top:1080px" class="square">
						<img style="float:left;margin-left:20px;margin-top:20px"src="/advantage-icon-4.png" >
						<p style="float:left;margin-left:60px;margin-top:40px;font:15px"><b>All type of motorcycle</b></p>
					</div>
					
					<div style="float:left;margin-left:600px; top:1260px"  class="square">
						<img style="float:left;margin-left:20px;margin-top:20px"src="/icon-happy-customer.png" >
						<p style="float:left;margin-left:15px;margin-top:40px;font:15px"><b>Thousands of happy customers</b></p>
					</div>
					
					<div style="float:left;margin-left:1000px; top:1260px"  class="square">
						<img style="float:left;margin-left:20px;margin-top:20px"src="/icon-car-center.png" >
						<p style="float:left;margin-left:25px;margin-top:40px;font:15px"><b>Call us Anywhere Anytime</b></p>
					</div-->
			 <br/><br/><br/><br/><br/>
		
			
                    <img style="float:left; margin-left:10px; padding-left:10px;"src="/gallery-img01.jpg" width="290" height="260">
                    <img src="/gallery-img02.jpg"width="290" height="260">
                    <img src="/gallery-img03.jpg"width="290" height="260">
                    <img src="/gallery-img04.jpg"width="290" height="260">
                    <img src="/gallery-img05.jpg"width="290" height="260">
			</br></br>		
</body>				
</html>
