
<h2>File Upload With <code>"Node.js"</code></h2>
<form action="/api/upload" enctype="multipart/form-data" method="post">
  <div class="textt">
  <div style="color:white">
  <div>Select a file: 
    <input  type="file" name="file" multiple="multiple" />
  </div>
</div>
</div>
  <input type="submit" value="Upload" />
</form>